body {
    font-family: Arial, sans-serif;
    background-color: lavender;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .card {
    background-color: lightgray;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 300px;
    text-align: center;
    margin-right: 10px;
  }

  .card h2 {
    margin: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  .card button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .card button:hover {
    background-color: goldenrod;
  }

  /* 45a049 */